<!--sample website-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <a > {{ title }} </a>
        <a > {{ message }} </a>
    </body>
</html>